CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
llvm-pass-moduleTest/**/Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
!Makefile
llvmllvm-pass-moduleTest/benchmarks/test
*.tar.gz
llvm/
llvm
*.ssa
*.bc
